In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Series ReIndex

In [3]:
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [4]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s1.reindex(index=['A', 'B', 'C', 'D', 'E'])  #按住shift+tab显示帮助信息

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [6]:
s1.reindex(index=['A', 'B', 'C', 'D', 'E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [7]:
s2 = pd.Series(['A', 'B', 'C'], index=[1, 5, 10])

In [8]:
s2

1     A
5     B
10    C
dtype: object

In [9]:
s2.reindex(index=range(15))

0     NaN
1       A
2     NaN
3     NaN
4     NaN
5       B
6     NaN
7     NaN
8     NaN
9     NaN
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [10]:
s2.reindex(index=range(15), method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

### DataFrame reindex

In [16]:
df1 = pd.DataFrame(np.random.randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'],columns=['c1', 'c2', 'c3', 'c4', 'c5'])

In [17]:
df1

         c1        c2        c3        c4        c5
A -0.698949  0.397569  1.423628  0.478633  0.478625
B -0.089159  2.558041  1.685004 -2.117550  0.647161
D -0.881156 -0.261611  0.626985  0.703380  1.290215
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039

In [18]:
df1.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'])

         c1        c2        c3        c4        c5
A -0.698949  0.397569  1.423628  0.478633  0.478625
B -0.089159  2.558041  1.685004 -2.117550  0.647161
C       NaN       NaN       NaN       NaN       NaN
D -0.881156 -0.261611  0.626985  0.703380  1.290215
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039

In [19]:
df1.reindex(columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6'])

         c1        c2        c3        c4        c5  c6
A -0.698949  0.397569  1.423628  0.478633  0.478625 NaN
B -0.089159  2.558041  1.685004 -2.117550  0.647161 NaN
D -0.881156 -0.261611  0.626985  0.703380  1.290215 NaN
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703 NaN
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039 NaN

In [20]:
df1.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'],columns=['c1', 'c2', 'c3', 'c4', 'c5', 'c6'])

         c1        c2        c3        c4        c5  c6
A -0.698949  0.397569  1.423628  0.478633  0.478625 NaN
B -0.089159  2.558041  1.685004 -2.117550  0.647161 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -0.881156 -0.261611  0.626985  0.703380  1.290215 NaN
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703 NaN
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039 NaN

In [21]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
s1.reindex(index=['A', 'B'])

A    1
B    2
dtype: int64

In [23]:
df1

         c1        c2        c3        c4        c5
A -0.698949  0.397569  1.423628  0.478633  0.478625
B -0.089159  2.558041  1.685004 -2.117550  0.647161
D -0.881156 -0.261611  0.626985  0.703380  1.290215
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039

In [24]:
df1.reindex(index=['A', 'B'])

         c1        c2        c3        c4        c5
A -0.698949  0.397569  1.423628  0.478633  0.478625
B -0.089159  2.558041  1.685004 -2.117550  0.647161

In [25]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [26]:
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B -0.089159  2.558041  1.685004 -2.117550  0.647161
D -0.881156 -0.261611  0.626985  0.703380  1.290215
E -0.867356 -0.398193 -0.852633 -1.543525  1.603703
F  0.877454 -0.164526 -0.986214 -0.254427 -1.079039

In [27]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.397569  1.423628  0.478633  0.478625
B  2.558041  1.685004 -2.117550  0.647161
D -0.261611  0.626985  0.703380  1.290215
E -0.398193 -0.852633 -1.543525  1.603703
F -0.164526 -0.986214 -0.254427 -1.079039