In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [26]:
df1 = DataFrame({'城市':["北京", "上海", "广州"], '人口':[1000, 2000, 1500]}, index=['A', 'B', 'C'])

In [27]:
df1

     人口  城市
A  1000  北京
B  2000  上海
C  1500  广州

In [33]:
# df1['GDP'] = Series([1000, 2000, 1500], index=['A', 'B', 'C'])  # 直接使用Series增加一列不好，默认index是0,1，2；当dataframe的index改变时，Series中的index也要改变

In [31]:
# df1

     人口  城市  GDP
A  1000  北京  NaN
B  2000  上海  NaN
C  1500  广州  NaN

In [34]:
# 使用map增加一列
gdp_map = {'北京': 1000, '上海': 2000, '广州': 1500}

In [35]:
df1['GDP'] = df1['城市'].map(gdp_map)

In [36]:
df1

     人口  城市   GDP
A  1000  北京  1000
B  2000  上海  2000
C  1500  广州  1500

In [37]:
# replace in series

In [38]:
s1 = Series(np.arange(10))

In [39]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [40]:
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [42]:
s1.replace({1: np.nan})

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [43]:
s1.replace([1, 2, 3], [10, 20, 30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int32