In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
df = pd.read_csv('demo_duplicate.csv')

In [6]:
df.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [7]:
del df['Unnamed: 0']

In [8]:
df

       Price  Seqno Symbol        time
0     1623.0    0.0   APPL  1473411962
1     1623.0    0.0   APPL  1473411962
2     1623.0    0.0   APPL  1473411963
3     1623.0    0.0   APPL  1473411963
4     1649.0    1.0   APPL  1473411963
5     1649.0    1.0   APPL  1473411963
6     1649.0    1.0   APPL  1473411964
7     1649.0    1.0   APPL  1473411964
8     1642.0    2.0   APPL  1473411964
9     1642.0    2.0   APPL  1473411964
10    1642.0    2.0   APPL  1473411965
11    1642.0    2.0   APPL  1473411965
12    1636.0    3.0   APPL  1473411965
13    1636.0    3.0   APPL  1473411965
14    1636.0    3.0   APPL  1473411966
15    1636.0    3.0   APPL  1473411966
16    1669.0    4.0   APPL  1473411966
17    1669.0    4.0   APPL  1473411966
18    1669.0    4.0   APPL  1473411967
19    1669.0    4.0   APPL  1473411967
20    1639.0    5.0   APPL  1473411967
21    1639.0    5.0   APPL  1473411967
22    1639.0    5.0   APPL  1473411968
23    1639.0    5.0   APPL  1473411968
24    1611.0    6.0   APPL  1473411968
25    1611.0    6.0   APPL  1473411968
26    1611.0    6.0   APPL  1473411969
27    1611.0    6.0   APPL  1473411969
28    1660.0    7.0   APPL  1473411969
29    1660.0    7.0   APPL  1473411969
...      ...    ...    ...         ...
3959  1698.0  992.0   APPL  1473412954
3960  1698.0  992.0   APPL  1473412955
3961  1566.0  993.0   APPL  1473412955
3962  1566.0  993.0   APPL  1473412955
3963  1566.0  993.0   APPL  1473412955
3964  1566.0  993.0   APPL  1473412955
3965  1597.0  994.0   APPL  1473412956
3966  1597.0  994.0   APPL  1473412956
3967  1597.0  994.0   APPL  1473412957
3968  1597.0  994.0   APPL  1473412957
3969  1641.0  995.0   APPL  1473412957
3970  1641.0  995.0   APPL  1473412957
3971  1641.0  995.0   APPL  1473412957
3972  1641.0  995.0   APPL  1473412958
3973  1581.0  996.0   APPL  1473412958
3974  1581.0  996.0   APPL  1473412958
3975  1581.0  996.0   APPL  1473412959
3976  1581.0  996.0   APPL  1473412959
3977  1674.0  997.0   APPL  1473412959
3978  1674.0  997.0   APPL  1473412959
3979  1674.0  997.0   APPL  1473412960
3980  1674.0  997.0   APPL  1473412960
3981  1680.0  998.0   APPL  1473412960
3982  1680.0  998.0   APPL  1473412960
3983  1680.0  998.0   APPL  1473412961
3984  1680.0  998.0   APPL  1473412961
3985  1509.0  999.0   APPL  1473412961
3986  1509.0  999.0   APPL  1473412961
3987  1509.0  999.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[3989 rows x 4 columns]