In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
df = pd.read_csv('city_weather.csv')

In [3]:
g = df.groupby('city')

In [4]:
g.mean()

      temperature      wind
city
BJ         10.000  2.833333
GZ          8.750  4.000000
SH          4.625  3.625000
SZ          5.000  2.500000

In [5]:
g.max()

            date  temperature  wind
city
BJ    31/01/2016           19     5
GZ    31/07/2016           25     5
SH    27/03/2016           20     5
SZ    25/09/2016           20     4

In [6]:
g.describe()

            temperature      wind
city
BJ   count     6.000000  6.000000
     mean     10.000000  2.833333
     std       8.532292  1.169045
     min      -3.000000  2.000000
     25%       5.750000  2.000000
     50%      10.000000  2.500000
     75%      17.250000  3.000000
     max      19.000000  5.000000
GZ   count     4.000000  4.000000
     mean      8.750000  4.000000
     std      11.842719  1.414214
     min      -1.000000  2.000000
     25%       0.500000  3.500000
     50%       5.500000  4.500000
     75%      13.750000  5.000000
     max      25.000000  5.000000
SH   count     8.000000  8.000000
     mean      4.625000  3.625000
     std      12.489281  1.060660
     min     -10.000000  2.000000
     25%      -5.250000  3.000000
     50%       2.000000  3.500000
     75%      17.500000  4.250000
     max      20.000000  5.000000
SZ   count     2.000000  2.000000
     mean      5.000000  2.500000
     std      21.213203  2.121320
     min     -10.000000  1.000000
     25%      -2.500000  1.750000
     50%       5.000000  2.500000
     75%      12.500000  3.250000
     max      20.000000  4.000000

In [7]:
g.agg('max')

            date  temperature  wind
city
BJ    31/01/2016           19     5
GZ    31/07/2016           25     5
SH    27/03/2016           20     5
SZ    25/09/2016           20     4

In [14]:
def foo(attr):
    return attr.max() - attr.min()

In [15]:
g.agg(foo)

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3

In [16]:
df

          date city  temperature  wind
0   03/01/2016   BJ            8     5
1   17/01/2016   BJ           12     2
2   31/01/2016   BJ           19     2
3   14/02/2016   BJ           -3     3
4   28/02/2016   BJ           19     2
5   13/03/2016   BJ            5     3
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4

In [17]:
g_new = df.groupby(['city', 'wind'])

In [18]:
g_new

In [19]:
g_new.groups

{('BJ', 2): [1, 2, 4],
 ('BJ', 3): [3, 5],
 ('BJ', 5): [0],
 ('GZ', 2): [14],
 ('GZ', 4): [17],
 ('GZ', 5): [15, 16],
 ('SH', 2): [10],
 ('SH', 3): [7, 8, 9],
 ('SH', 4): [6, 11],
 ('SH', 5): [12, 13],
 ('SZ', 1): [18],
 ('SZ', 4): [19]}

In [20]:
g_new.get_group(('BJ', 3))

         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3

In [22]:
for (name1, name2), group in g_new:
    print(name1, name2)
    print(group)

BJ 2
         date city  temperature  wind
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
4  28/02/2016   BJ           19     2
BJ 3
         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3
BJ 5
         date city  temperature  wind
0  03/01/2016   BJ            8     5
GZ 2
          date city  temperature  wind
14  17/07/2016   GZ           10     2
GZ 4
          date city  temperature  wind
17  28/08/2016   GZ           25     4
GZ 5
          date city  temperature  wind
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
SH 2
          date city  temperature  wind
10  22/05/2016   SH            4     2
SH 3
         date city  temperature  wind
7  10/04/2016   SH           19     3
8  24/04/2016   SH           20     3
9  08/05/2016   SH           17     3
SH 4
          date city  temperature  wind
6   27/03/2016   SH           -4     4
11  05/06/2016   SH          -10     4
SH 5
          date city  temperature  wind
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
SZ 1
          date city  temperature  wind
18  11/09/2016   SZ           20     1
SZ 4
          date city  temperature  wind
19  25/09/2016   SZ          -10     4