In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
data = {'Country':['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 'Population':[11190846, 1303171035, 207847528]}

## Series

In [9]:
s1 = pd.Series(data['Country'], index=['A', 'B', 'C'])

In [10]:
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [11]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [12]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

## DataFrame

In [13]:
df1 = pd.DataFrame(data)

In [14]:
df1

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [16]:
cou = df1['Country']

In [17]:
type(cou)

pandas.core.series.Series

In [18]:
df1.iterrows()

In [24]:
for row in df1.iterrows():
#     print(row)
#     print(type(row))
#     print(len(row))
    print(row[0])
    print(row[1])
    break

0
Capital       Brussels
Country        Belgium
Population    11190846
Name: 0, dtype: object

In [25]:
df1

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [26]:
data

{'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Country': ['Belgium', 'India', 'Brazil'],
 'Population': [11190846, 1303171035, 207847528]}

### 通过Series去创建一个DataFr

In [27]:
s1 = pd.Series(data['Capital'])

In [28]:
s2 = pd.Series(data['Country'])

In [29]:
s3 = pd.Series(data['Population'])

In [30]:
df_new = pd.DataFrame([s1, s2, s3])

In [31]:
df_new

          0           1          2
0  Brussels   New Delhi   Brasilia
1   Belgium       India     Brazil
2  11190846  1303171035  207847528

In [33]:
df_new = df_new.T

In [34]:
df_new

           0        1           2
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [35]:
df1

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [36]:
df_new = pd.DataFrame([s1, s2, s3], index=['Capital', 'Country', 'Population'])

In [38]:
df_new = df_new.T

In [40]:
df_new

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528

In [41]:
df1

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528