In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
import webbrowser

In [13]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [18]:
df1 = pd.read_clipboard()  # 从粘贴板中读取数据

In [19]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [20]:
df1.to_clipboard()  #  将数据从dataFrame写入到粘贴板中，最后复制粘贴到excel中

In [21]:
	Format Type	Data Description	Reader	Writer
0	text	CSV	read_csv	to_csv
1	text	JSON	read_json	to_json
2	text	HTML	read_html	to_html
3	text	Local clipboard	read_clipboard	to_clipboard
4	binary	MS Excel	read_excel	to_excel
5	binary	HDF5 Format	read_hdf	to_hdf
6	binary	Feather Format	read_feather	to_feather
7	binary	Msgpack	read_msgpack	to_msgpack
8	binary	Stata	read_stata	to_stata
9	binary	SAS	read_sas	 
10	binary	Python Pickle Format	read_pickle	to_pickle
11	SQL	SQL	read_sql	to_sql
12	SQL	Google Big Query	read_gbq	to_gbq

SyntaxError: invalid syntax (<ipython-input-21-0f84ff6fd018>, line 1)

In [26]:
# 将数据保存到CSV文件中
df1.to_csv('df1.csv', index=False)  # index=False将不会把索引写入df1.csv文件中

In [28]:
ls

 驱动器 E 中的卷是 资料
 卷的序列号是 9680-46FC

 E:\DeepLearning\jupyter_code\jupyter notebook\python数据分析实战 的目录

2018/09/21  20:32    <DIR>          .
2018/09/21  20:32    <DIR>          ..
2018/09/21  20:08    <DIR>          .ipynb_checkpoints
2018/09/21  15:28             2,331 1.Anaconda与Jupyter notebook介绍.ipynb
2018/09/21  15:38             1,396 2.矩阵运算.ipynb
2018/09/21  15:48             8,408 3.Array的创建及访问.ipynb
2018/09/21  15:58            13,397 4.数组与矩阵运算.ipynb
2018/09/21  16:08             7,413 5.Array中的input和output.ipynb
2018/09/21  16:17             7,713 6.Series.ipynb
2018/09/21  16:42            44,744 7.DataFrame.ipynb
2018/09/21  20:07            16,471 8.深入理解Series和DataFrame.ipynb
2018/09/21  20:28            21,139 9.Pandas-DataFrame-IO操作.ipynb
2018/09/21  20:34               509 df1.csv
2018/09/21  20:32               204 df1.html
2018/09/21  16:06               120 one_array.npy
2018/09/21  16:08               474 two_array.npz
2018/09/21  16:05               195 x.pkl
              14 个文件        124,514 字节
               3 个目录 95,594,110,976 可用字节

#### 查看文件内容

In [29]:
more df1.csv

In [30]:
# 读取csv文件
df2 = pd.read_csv('df1.csv')

In [31]:
df2

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [32]:
# dataframe与json数据转化
df1.to_json()

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Msgpack","8":"Stata","9":"SAS","10":"Python Pickle Format","11":"SQL","12":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"read_pickle","11":"read_sql","12":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_msgpack","8":"to_stata","9":" ","10":"to_pickle","11":"to_sql","12":"to_gbq"}}'

In [33]:
pd.read_json(df1.to_json())

        Data Description Format Type          Reader        Writer
0                    CSV        text        read_csv        to_csv
1                   JSON        text       read_json       to_json
10  Python Pickle Format      binary     read_pickle     to_pickle
11                   SQL         SQL        read_sql        to_sql
12      Google Big Query         SQL        read_gbq        to_gbq
2                   HTML        text       read_html       to_html
3        Local clipboard        text  read_clipboard  to_clipboard
4               MS Excel      binary      read_excel      to_excel
5            HDF5 Format      binary        read_hdf        to_hdf
6         Feather Format      binary    read_feather    to_feather
7                Msgpack      binary    read_msgpack    to_msgpack
8                  Stata      binary      read_stata      to_stata
9                    SAS      binary        read_sas

In [34]:
df1.to_html('df1.html')

In [35]:
df1.to_excel('df1.xlsx')

In [36]:
ls

 驱动器 E 中的卷是 资料
 卷的序列号是 9680-46FC

 E:\DeepLearning\jupyter_code\jupyter notebook\python数据分析实战 的目录

2018/09/21  20:36    <DIR>          .
2018/09/21  20:36    <DIR>          ..
2018/09/21  20:08    <DIR>          .ipynb_checkpoints
2018/09/21  15:28             2,331 1.Anaconda与Jupyter notebook介绍.ipynb
2018/09/21  15:38             1,396 2.矩阵运算.ipynb
2018/09/21  15:48             8,408 3.Array的创建及访问.ipynb
2018/09/21  15:58            13,397 4.数组与矩阵运算.ipynb
2018/09/21  16:08             7,413 5.Array中的input和output.ipynb
2018/09/21  16:17             7,713 6.Series.ipynb
2018/09/21  16:42            44,744 7.DataFrame.ipynb
2018/09/21  20:07            16,471 8.深入理解Series和DataFrame.ipynb
2018/09/21  20:34            21,232 9.Pandas-DataFrame-IO操作.ipynb
2018/09/21  20:34               509 df1.csv
2018/09/21  20:34             2,057 df1.html
2018/09/21  20:36             6,007 df1.xlsx
2018/09/21  16:06               120 one_array.npy
2018/09/21  16:08               474 two_array.npz
2018/09/21  16:05               195 x.pkl
              15 个文件        132,467 字节
               3 个目录 95,594,098,688 可用字节