In [18]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [19]:
# NaN---not a number

In [20]:
n = np.nan

In [21]:
type(n)

float

In [22]:
m = 1
m + n

nan

# Nan in Series

In [23]:
s1 = pd.Series([1, 2, np.nan, 3, 4], index=['A', 'B', 'C', 'D', 'E'])

In [24]:
s1

A    1.0
B    2.0
C    NaN
D    3.0
E    4.0
dtype: float64

In [25]:
s1.isnull()

A    False
B    False
C     True
D    False
E    False
dtype: bool

In [26]:
s1.notnull()

A     True
B     True
C    False
D     True
E     True
dtype: bool

In [27]:
s1.dropna()

A    1.0
B    2.0
D    3.0
E    4.0
dtype: float64

# Nan in DataFrame

In [32]:
df = DataFrame([[1, 2, 3], [np.nan, 5, 6], [7, np.nan, 9], [np.nan, np.nan, np.nan]])

In [33]:
df

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [34]:
df.isnull()

       0      1      2
0  False  False  False
1   True  False  False
2  False   True  False
3   True   True   True

In [35]:
df.notnull()

       0      1      2
0   True   True   True
1  False   True   True
2   True  False   True
3  False  False  False

In [36]:
df1 = df.dropna(axis=0)

In [37]:
df1

     0    1    2
0  1.0  2.0  3.0

In [41]:
df1 = df.dropna(axis=0, how='any')

In [42]:
df1

     0    1    2
0  1.0  2.0  3.0

In [43]:
df1 = df.dropna(axis=0, how='all')

In [44]:
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [51]:
df2 = pd.DataFrame([[1, 2, 3, np.nan],[2, np.nan, 5, 6],[np.nan, 7, np.nan, 9], [1, np.nan, np.nan, np.nan]])

In [53]:
df2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [56]:
df2 = df2.dropna(thresh=2)#只要某行的nan的数目大于2,就drop

In [57]:
df2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [59]:
df2.fillna(value=1) # 填充缺失值

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0

In [63]:
df2.fillna(value={0:0, 1:1, 2:2, 3:3})#第一列的nan填充0，第二列的nan填充1，依次类推

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0

In [64]:
df1.dropna()

     0    1    2
0  1.0  2.0  3.0

In [65]:
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [66]:
df1.fillna(1)

     0    1    2
0  1.0  2.0  3.0
1  1.0  5.0  6.0
2  7.0  1.0  9.0