In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# 多级index的Series

In [2]:
s1 = Series(np.random.randn(6), index=[['1', '1', '1', '2', '2', '2'], ['a', 'b', 'c', 'a', 'b', 'c']])

In [3]:
s1

1  a    2.259940
   b   -0.010932
   c   -0.058879
2  a   -0.171195
   b   -0.989764
   c    0.278070
dtype: float64

In [5]:
s1['1']

a    2.259940
b   -0.010932
c   -0.058879
dtype: float64

In [7]:
type(s1['1'])

pandas.core.series.Series

In [8]:
s1['1']['a']

2.2599395706265568

In [9]:
s1[:, 'a']

1    2.259940
2   -0.171195
dtype: float64

In [10]:
type(s1[:, 'a'])

pandas.core.series.Series

In [13]:
df1 = s1.unstack()  # 二级的index可转换为dataframe

In [14]:
df1

          a         b         c
1  2.259940 -0.010932 -0.058879
2 -0.171195 -0.989764  0.278070

In [15]:
df2 = DataFrame([s1['1'], s1['2']])

In [16]:
df2

          a         b         c
0  2.259940 -0.010932 -0.058879
1 -0.171195 -0.989764  0.278070

In [19]:
# dataframe转为多级index的series
s2 = df1.unstack()

In [20]:
s2

a  1    2.259940
   2   -0.171195
b  1   -0.010932
   2   -0.989764
c  1   -0.058879
   2    0.278070
dtype: float64

In [21]:
s2 = df1.T.unstack()

In [22]:
s2

1  a    2.259940
   b   -0.010932
   c   -0.058879
2  a   -0.171195
   b   -0.989764
   c    0.278070
dtype: float64

# 多级index的DataFrame

In [27]:
df = DataFrame(np.arange(16).reshape((4, 4)), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

In [28]:
df

      0   1   2   3
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [33]:
df = DataFrame(np.arange(16).reshape((4, 4)), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=[['BeiJing', 'BeiJing','ShangHai', 'Guangzhou'],[8, 9, 8, 8]])

In [34]:
df

    BeiJing     ShangHai Guangzhou
          8   9        8         8
a 1       0   1        2         3
  2       4   5        6         7
b 1       8   9       10        11
  2      12  13       14        15

In [35]:
df['BeiJing']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [37]:
df['BeiJing'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int32