In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Series的排序

In [3]:
s1 = Series(np.random.randn(10))

In [4]:
s1

0   -0.715670
1   -1.149533
2    0.731831
3   -0.513945
4   -0.080434
5    0.027581
6    0.422544
7   -0.225699
8   -0.804092
9   -0.349995
dtype: float64

In [5]:
s1.values

array([-0.71566978, -1.14953344,  0.73183099, -0.51394465, -0.0804337 ,
        0.02758147,  0.42254416, -0.22569924, -0.80409242, -0.34999467])

In [6]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [7]:
s2 = s1.sort_values()

In [8]:
s2

1   -1.149533
8   -0.804092
0   -0.715670
3   -0.513945
9   -0.349995
7   -0.225699
4   -0.080434
5    0.027581
6    0.422544
2    0.731831
dtype: float64

In [11]:
s2 = s1.sort_values(ascending=False)  #降序排列

In [12]:
s2

2    0.731831
6    0.422544
5    0.027581
4   -0.080434
7   -0.225699
9   -0.349995
3   -0.513945
0   -0.715670
8   -0.804092
1   -1.149533
dtype: float64

In [13]:
s2.sort_index()

0   -0.715670
1   -1.149533
2    0.731831
3   -0.513945
4   -0.080434
5    0.027581
6    0.422544
7   -0.225699
8   -0.804092
9   -0.349995
dtype: float64

# DataFrame的排序

In [15]:
df1 = DataFrame(np.random.randn(40).reshape(8, 5), columns=['A', 'B', 'C', 'D', 'E'])

In [16]:
df1

          A         B         C         D         E
0  0.333249  0.057957  0.005205  0.224706 -0.075227
1 -0.530027 -1.747375 -0.455283  0.103543  0.176214
2  0.054822 -1.563994  0.730226 -0.412853 -0.688941
3 -0.000568  0.630129 -0.484723 -0.920198 -0.082715
4  0.705848 -0.788728  0.410342  1.262061 -0.393312
5  0.147704  0.974662 -0.630552 -1.650906  0.591723
6 -0.540302  0.379446 -0.647545  1.126251 -1.780082
7 -0.781614  0.922827  1.600980  0.512031 -0.046272

In [17]:
df1['A'].sort_values()

7   -0.781614
6   -0.540302
1   -0.530027
3   -0.000568
2    0.054822
5    0.147704
0    0.333249
4    0.705848
Name: A, dtype: float64

In [18]:
df1.sort_values('A')

          A         B         C         D         E
7 -0.781614  0.922827  1.600980  0.512031 -0.046272
6 -0.540302  0.379446 -0.647545  1.126251 -1.780082
1 -0.530027 -1.747375 -0.455283  0.103543  0.176214
3 -0.000568  0.630129 -0.484723 -0.920198 -0.082715
2  0.054822 -1.563994  0.730226 -0.412853 -0.688941
5  0.147704  0.974662 -0.630552 -1.650906  0.591723
0  0.333249  0.057957  0.005205  0.224706 -0.075227
4  0.705848 -0.788728  0.410342  1.262061 -0.393312

In [19]:
df1.sort_values('A', ascending=False)

          A         B         C         D         E
4  0.705848 -0.788728  0.410342  1.262061 -0.393312
0  0.333249  0.057957  0.005205  0.224706 -0.075227
5  0.147704  0.974662 -0.630552 -1.650906  0.591723
2  0.054822 -1.563994  0.730226 -0.412853 -0.688941
3 -0.000568  0.630129 -0.484723 -0.920198 -0.082715
1 -0.530027 -1.747375 -0.455283  0.103543  0.176214
6 -0.540302  0.379446 -0.647545  1.126251 -1.780082
7 -0.781614  0.922827  1.600980  0.512031 -0.046272

In [20]:
df2 = df1.sort_values('A')

In [21]:
df2

          A         B         C         D         E
7 -0.781614  0.922827  1.600980  0.512031 -0.046272
6 -0.540302  0.379446 -0.647545  1.126251 -1.780082
1 -0.530027 -1.747375 -0.455283  0.103543  0.176214
3 -0.000568  0.630129 -0.484723 -0.920198 -0.082715
2  0.054822 -1.563994  0.730226 -0.412853 -0.688941
5  0.147704  0.974662 -0.630552 -1.650906  0.591723
0  0.333249  0.057957  0.005205  0.224706 -0.075227
4  0.705848 -0.788728  0.410342  1.262061 -0.393312

In [22]:
df2.sort_index()

          A         B         C         D         E
0  0.333249  0.057957  0.005205  0.224706 -0.075227
1 -0.530027 -1.747375 -0.455283  0.103543  0.176214
2  0.054822 -1.563994  0.730226 -0.412853 -0.688941
3 -0.000568  0.630129 -0.484723 -0.920198 -0.082715
4  0.705848 -0.788728  0.410342  1.262061 -0.393312
5  0.147704  0.974662 -0.630552 -1.650906  0.591723
6 -0.540302  0.379446 -0.647545  1.126251 -1.780082
7 -0.781614  0.922827  1.600980  0.512031 -0.046272