In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
csv_input = "movie_metadata.csv"

In [14]:
pd.read_csv(csv_input)[['movie_title', 'director_name', 'imdb_score']].sort_values('imdb_score', ascending=False).to_csv('imdb.csv')

In [15]:
ls

 驱动器 E 中的卷是 资料
 卷的序列号是 9680-46FC

 E:\DeepLearning\jupyter_code\jupyter notebook\python数据分析实战 的目录

2018/09/21  23:17    <DIR>          .
2018/09/21  23:17    <DIR>          ..
2018/09/21  23:11    <DIR>          .ipynb_checkpoints
2018/09/21  15:28             2,331 01.Anaconda与Jupyter notebook介绍.ipynb
2018/09/21  15:38             1,396 02.矩阵运算.ipynb
2018/09/21  15:48             8,408 03.Array的创建及访问.ipynb
2018/09/21  15:58            13,397 04.数组与矩阵运算.ipynb
2018/09/21  16:08             7,413 05.Array中的input和output.ipynb
2018/09/21  16:17             7,713 06.Series.ipynb
2018/09/21  16:42            44,744 07.DataFrame.ipynb
2018/09/21  20:07            16,471 08.深入理解Series和DataFrame.ipynb
2018/09/21  20:36            23,316 09.Pandas-DataFrame-IO操作.ipynb
2018/09/21  21:13           173,642 10.DataFrame的selecting and Indexing.ipynb
2018/09/21  21:33            25,390 11.Series和DataFrame的Reindexing.ipynb
2018/09/21  22:16            23,089 12.谈一谈缺失值NaN.ipynb
2018/09/21  22:35            14,316 13.多级Index.ipynb
2018/09/21  22:48             8,425 14.Mapping和Replace.ipynb
2018/09/21  23:01            10,762 15.Series和DataFrame的简单数学运算.ipynb
2018/09/21  23:09            22,832 16.Series和DataFrame的排序功能.ipynb
2018/09/21  23:17            21,684 17.重命名DataFrame的index.ipynb
2018/09/21  20:34               509 df1.csv
2018/09/21  20:34             2,057 df1.html
2018/09/21  20:36             6,007 df1.xlsx
2018/09/21  23:17           207,774 imdb.csv
2017/09/06  00:17         1,494,688 movie_metadata.csv
2018/09/21  16:06               120 one_array.npy
2018/09/21  16:08               474 two_array.npz
2018/09/21  16:05               195 x.pkl
              25 个文件      2,137,153 字节
               3 个目录 95,591,981,056 可用字节

In [16]:
more imdb.csv

In [46]:
df1 = DataFrame(np.arange(9).reshape(3, 3), index=['BJ', 'SH', 'GZ'], columns=['A', 'B', 'C'])

In [47]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [48]:
df1.index

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [49]:
df1.index = Series(['bj', 'sh', 'gz'])

In [50]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [51]:
df1.index

Index(['bj', 'sh', 'gz'], dtype='object')

In [52]:
df1.index.map(str.upper)

array(['BJ', 'SH', 'GZ'], dtype=object)

In [53]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [54]:
df1.index = df1.index.map(str.upper)

In [55]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [57]:
df1.rename(index=str.lower)

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [58]:
df1.rename(index=str.lower, columns=str.lower)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [59]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [60]:
df1.rename(index={'BJ': 'beijing'}, columns={'A': 'a'})

         a  B  C
beijing  0  1  2
SH       3  4  5
GZ       6  7  8

In [61]:
list1 = [1, 2, 3, 4]
list2 = ['1', '2', '3', '4']
[str(x) for x in list1]

['1', '2', '3', '4']

In [63]:
list(map(str, list1))

['1', '2', '3', '4']

In [64]:
def test_map(x):
    return x + '_ABC'

In [65]:
df1.index.map(test_map)

array(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype=object)

In [67]:
df1.rename(index=test_map)

        A  B  C
BJ_ABC  0  1  2
SH_ABC  3  4  5
GZ_ABC  6  7  8