In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [16]:
df1 = DataFrame({'key': ['X', 'Y', 'Z', 'X'], 'data_set_1': [1, 2, 3, 4]})

In [17]:
df1

   data_set_1 key
0           1   X
1           2   Y
2           3   Z
3           4   X

In [18]:
df2 = DataFrame({'key':['X', 'B', 'C'], 'data_set_2': [4, 5, 6]})

In [19]:
df2

   data_set_2 key
0           4   X
1           5   B
2           6   C

In [22]:
pd.merge(df1, df2, on=None)

   data_set_1 key  data_set_2
0           1   X           4
1           4   X           4

In [23]:
pd.merge(df1, df2, on='key')

   data_set_1 key  data_set_2
0           1   X           4
1           4   X           4

In [29]:
pd.merge(df1, df2, on='key', how='inner')  #默认

   data_set_1 key  data_set_2
0           1   X           4
1           4   X           4

In [26]:
pd.merge(df1, df2, on='key', how='left')

   data_set_1 key  data_set_2
0           1   X         4.0
1           2   Y         NaN
2           3   Z         NaN
3           4   X         4.0

In [27]:
pd.merge(df1, df2, on='key', how='right')

   data_set_1 key  data_set_2
0         1.0   X           4
1         4.0   X           4
2         NaN   B           5
3         NaN   C           6

In [28]:
pd.merge(df1, df2, on='key', how='outer')

   data_set_1 key  data_set_2
0         1.0   X         4.0
1         4.0   X         4.0
2         2.0   Y         NaN
3         3.0   Z         NaN
4         NaN   B         5.0
5         NaN   C         6.0