In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
score_list = np.random.randint(25, 100, size=20)

In [5]:
score_list

array([52, 45, 60, 46, 63, 55, 93, 56, 56, 79, 28, 31, 91, 57, 46, 67, 99,
       61, 58, 83])

In [6]:
bins = [0, 59, 75, 85, 100]

In [9]:
score_cut = pd.cut(score_list, bins)

In [10]:
pd.value_counts(score_cut)

(0, 59]      11
(59, 75]      4
(85, 100]     3
(75, 85]      2
dtype: int64

In [20]:
df = DataFrame()

In [21]:
df['score'] = score_list

In [23]:
df['student_name'] = [pd.util.testing.rands(3) for i in range(20)]

In [24]:
df

    score student_name
0      52          9qe
1      45          pCg
2      60          UrL
3      46          wNP
4      63          aHD
5      55          jmh
6      93          t5U
7      56          Zc0
8      56          cMN
9      79          TGc
10     28          CgM
11     31          rd0
12     91          JJB
13     57          UJ7
14     46          i5k
15     67          LKL
16     99          kuJ
17     61          SZ9
18     58          jNM
19     83          0rY

In [28]:
df['Categories'] = pd.cut(df['score'], bins, labels=['不及格', '及格', '良好', '优秀'])

In [29]:
df

    score student_name Categories
0      52          9qe        不及格
1      45          pCg        不及格
2      60          UrL         及格
3      46          wNP        不及格
4      63          aHD         及格
5      55          jmh        不及格
6      93          t5U         优秀
7      56          Zc0        不及格
8      56          cMN        不及格
9      79          TGc         良好
10     28          CgM        不及格
11     31          rd0        不及格
12     91          JJB         优秀
13     57          UJ7        不及格
14     46          i5k        不及格
15     67          LKL         及格
16     99          kuJ         优秀
17     61          SZ9         及格
18     58          jNM        不及格
19     83          0rY         良好